[submodule "baton"]
	path = baton
	url = https://github.com/tesselode/baton.git
[submodule "peachy"]
	path = peachy
	url = https://github.com/josh-perry/peachy.git
[submodule "a-star-lua"]
	path = a-star-lua
	url = https://github.com/lattejed/a-star-lua
